<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
<div class="card p-4 shadow">

<form method="POST" action="/submit">
{% for q in questions %}
    <p class="quiz-question">{{ loop.index }}. {{ q.question }}</p>

    {% set q_index = loop.index %}

    {% for opt in q.options %}
        <div class="form-check">
            <input 
                class="form-check-input"
                type="radio"
                name="question_{{ q_index }}"
                value="{{ opt }}"
                required
            >
            <label class="form-check-label">{{ opt }}</label>
        </div>
    {% endfor %}

    <input type="hidden" name="correct_{{ q_index }}" value="{{ q.correct_answer }}">
    <br>
{% endfor %}

<button class="btn btn-primary w-100">Submit</button>
</form>

</div></div>